
Relatorio/.vscode/

Relatorio/readme.md

*.xmpi

*.toc

*.gz

*.nls

*.nlo

*.mw

*.lot

*.lop

*.loh

*.log

*.lof

*.lod

*.loc

*.ist

*.ind

*.idx

*.ilg

*.glsdefs

*.gls

*.glo

*.glg

*.fls

*.fdb_latexmk

*.aux

*.alg3

*.alg2

*.alg

*.acr3

*.acr2

*.acr

*.acn3

*.acn2

*.acn

*.bbl

*.blg

*.synctex(busy)
/Api/.idea
/Api/Api/obj
/Api/Api/bin
/.vscode
/Api/Api/Domain/Migrations/obj
/Api/Api.sln.DotSettings.user
/Api/Api/*.user
/Api/.vs
